/* Use Selectors and attributes for the HTML design */
hr{
    border-top: 2px solid rgb(0, 0, 0);

}
div{
    padding: 20px;
    margin: 50px;
}   
input[type=text]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 10px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
input[type=fname]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 10px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
input[type=lname]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 10px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 10px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
} 
input[type=checkbox]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 10px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=checkbox]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 10px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 
.line{
    border-top: 20px solid rgb(0, 0, 0);
    padding: 50px;
    margin-right: 575px; 
} 